.body {
  overflow-x: 0;
}
.buttonWallet {
  background-color: #4caf50;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

Input {
  border: 3px solid #000c11;
}
Input:invalid {
  border-color: #dd2c00;
}

#notify {
  margin-top: 5px;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#notify.error {
  background-color: #dd2c00;
}

